@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "prismjs/themes/prism.css";

.icon-nav {
    .bi{
        font-size: 200%;
    }
    .form-control {
        margin-top: 1em;
    }
}

h1 {
  font-size: 2rem;
}

.dataframe.data, .data-table{
  @extend .table;
  @extend .table-striped;
  @extend .table-hover;
  @extend .table-sm;
  @extend .table-bordered;
  @extend .border-primary;
  td, th
  {
    text-align: right;;
  }
}