<!DOCTYPE html>
<html lang = "nl">
<head>

    <!-- prism + linenumber plugin -->
    <script src = "/static/prism.js"></script>
    <link rel = "stylesheet" href = "/static/prism.css" />

    <!--code-input-->
    <script src = "https://cdn.jsdelivr.net/gh/WebCoder49/code-input@1.2/code-input.js"></script>
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/gh/WebCoder49/code-input@1.2/code-input.min.css">
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/gh/WebCoder49/code-input@1.2/plugins/prism-line-numbers.min.css">


    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href = "https://fonts.googleapis.com/icon?family = Material+Icons" rel = "stylesheet">

    <link rel = "stylesheet" href = '/static/base.css' />
    <link rel = "stylesheet" media = "screen and (min-width: 1100px)" href = "/static/widescreen.css">
    <link rel = "stylesheet" media = "screen and (max-width: 1100px)" href = "/static/smallscreen.css">

    <meta charset = "UTF-8">
    <title>{{ title }} - Day Ahead Optimalisering</title>
</head>
<body>
<div class = "body">
    <header>
        <ul>
            <li><a href = "/home"><img src = "../static/home_white.png" alt = "home" border = "0" style = "display:inline-block; height:1em; width:auto;" /></a></li>
            <li><a href = "/meteo">Meteo</a></li>
            <li><a href = "/reports">Reports</a></li>
            <li><a href = "#">Instellingen</a>
                <ul>
                    <li><a href = "/settings/options">Options</a></li>
                    <li><a href = "/settings/secrets">Secrets</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class = "content">
    {% block content %}{% endblock %}
    </div>
  <footer>
     <span><a href = "http://www.apache.org/licenses/LICENSE-2.0">&nbsp;&nbsp;&nbsp;2023 copyright: Apache 2.0</a></span>
  </footer>
</div>
</body>
</html>
