{% extends "base.html" %}

{% block content %}

<form method="post" id="content_form">
<div class="selector-container">
  <div class="spacer">
    <div class="select subject">
     <input type="hidden" id="cur_subject" name="cur_subject" value="{{active_subject}}">
    {% for subject in subjects %}
      {% if active_subject == subject %}
        <button name="subject" class="btn chosen btn_mid" value="{{subject}}">{{ subject }}</button>
      {% else %}
        <button name="subject" class="btn btn_mid" value="{{subject}}">{{ subject }}</button>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div class="spacer">
    <div class="select view">
     <input type="hidden" id="cur_view" name="cur_view" value="{{active_view}}">
     {% if active_time  %}
         <input type="hidden" id="active_time" name="active_time" value="{{active_time}}">
     {% endif %}
    {% for view in views %}
      {% if active_view == view %}
        <button name="view" class="btn chosen btn_mid" value="{{ view }}">
          <img src="static/{{view}}.png" alt="first" border="0" style="display:inline-block; height:1em; width:auto;" />
          {{ view }}
        </button>
      {% else %}
        <button name="view" class="btn btn_mid" value="{{view}}">
          <img src="static/{{view}}.png" alt="first" border="0" style="display:inline-block; height:1em; width:auto;" />
        </button>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <div class="spacer">
    <div class="select periode">
      <input type="hidden" id="cur_periode" name="cur_periode" value="{{active_periode}}">
      <select name="periode-select" id="periode-select" onchange="this.form.submit()">
        {% for periode in periode_options %}
        {% if active_period == periode %}
          <option value="{{periode}}" selected>{{periode}}</option>
        {% else %}
          <option value="{{periode}}">{{periode}}</option>
        {% endif %}
        {% endfor %}
      </select>
      <button name="action" class="btn btn_mid" value="previous">
        <img src="static/prev.png" alt="prev" border="0" style="display:inline-block; height:1em; width:auto;" />
      </button>
      <button name="action" class="btn btn_mid" value="next">
        <img src="static/next.png" alt="next" border="0" style="display:inline-block; height:1em; width:auto;" />
      </button>
    </div>
  </div>
</div>
<div class="clear"></div>
</form>

{% if active_view == "grafiek" %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    // Set variables from the json data
    ch_data = JSON.parse({{tables|tojson|safe}});
    chart_data = ch_data.data;
    options = ch_data.options,
    //chart_title = ch_options.title;
    chartType = "ComboChart";
    containerId = "show_graph";
    //options = {'title':chart_title};
  </script>

  <script type = "text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
        google.visualization.drawChart({
			"containerId": containerId,
			"dataTable": chart_data,
			"chartType": chartType,
			"options": options
		});
    }
  </script>
<div class="show graph" id="show_graph">
  <!--  <img src="{{image}}" alt="image" width="800" height="900"> --->
</div>
{% else %}
<div class="show table">
  {% for table in tables %}
     {{ table|safe }}
  {% endfor %}
</div>
{% endif %}

{% endblock %}