tests/
pred/
webserver/node_modules
webserver/app/data
webserver/app/static/build
data
!data/options_start.json
!data/options_example.json
!data/secrets_vb.json
!data/log
!data/images
!data/baseload
!data/prediction