---
name: åˆ€ Day Ahead Optimizer
version: 2026.01.1
slug: day_ahead_opt
description: Home Assistant Community Add-ons for day ahead optimizations
url: https://github.com/corneel27/day-ahead
arch:
  - aarch64
  - amd64
init: false
ingress: true
ingress_port: 5000
panel_admin: false
panel_icon: mdi:home-battery-outline
apparmor: true
legacy: true
map:
  - ssl:rw
  - addon_config:rw
  - homeassistant_config:rw
homeassistant_api: true
ports:
  5000/tcp: 5000
image: "ghcr.io/corneel27/dao-{arch}"
