pandas~=2.2.3
pytz~=2024.2
requests~=2.32.3
matplotlib~=3.9.2
numpy~=1.26.4
mysql~=0.0.3
mysql-connector-python~=9.0.0
hassapi~=0.2.1
mip~=1.16rc0
python-dateutil~=2.9.0.post0
nordpool~=0.4.3
entsoe-py~=0.6.16
beautifulsoup4
sqlalchemy~=2.0.35
SQLAlchemy-Utils~=0.41.2
psycopg2-binary
pymysql~=1.1.1
mariadb~=1.1.10
flask~=3.0.3
ephem~=4.1.6
gunicorn~=23.0.0
