pandas~=2.0.3
pytz~=2023.3
requests~=2.31.0
matplotlib~=3.7.2
numpy~=1.25.2
mysql~=0.0.3
mysql-connector-python~=8.1.0
hassapi~=0.1.1
mip~=1.15.0
python-dateutil~=2.8.2
nordpool~=0.3.3
entsoe-py
beautifulsoup4
sqlalchemy
mariadb
flask~=2.3.2
ephem
gunicorn