pandas~=2.3.3
pytz~=2025.2
requests~=2.32.5
matplotlib~=3.10.8
numpy~=2.4.0
mysql~=0.0.3
cffi~=2.0.0
mysql-connector-python~=9.5.0
hassapi~=0.2.1
python-dateutil~=2.9.0.post0
nordpool~=0.5.0
entsoe-py~=0.7.8
beautifulsoup4
sqlalchemy~=2.0.45
SQLAlchemy-Utils~=0.42.1
psycopg2-binary
pymysql~=1.1.2
mariadb~=1.1.14
flask~=3.1.2
ephem~=4.2
gunicorn~=23.0.0
cryptography~=46.0.3
tzlocal~=5.3.1
mip==1.16rc0
