{% macro nav_item(endpoint, label, icon=None, url=None) %}
<li class="nav-item">
    <a class="nav-link {% if request.endpoint == endpoint %}active{% endif %}"
       aria-current="page" href="{% if url %}{{url}}{% else %}{{ url_for(endpoint) }}{% endif %}">{{label}}</a>
</li>
{% endmacro %}
{% macro menu_item(endpoint, label, icon=None, url=None) %}
<a class="menu-item {% if request.endpoint == endpoint %}active{% endif %}"
   aria-current="page" href="{% if url %}{{url}}{% else %}{{ url_for(endpoint) }}{% endif %}">{{label}}</a>
{% endmacro %}

<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}DAO{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="color-scheme" content="light dark">
    <style>
        /** Inline this script to prevent "flashing" in dark mode **/
        html[data-bs-theme="dark"],
        html[data-bs-theme="dark"] body {
            background-color: lab(6.43209 -0.312874 -0.819391);
            color: lab(95.3601 -0.260729 -0.682816);
        }

        html[data-bs-theme="light"],
        html[data-bs-theme="light"] body {
            background-color: #fff;
            color: rgb(33, 37, 41);
        }
    </style>
    <script>
        /** Inline this script to prevent "flashing" in dark mode **/
        /*!
         * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
         * Copyright 2011-2025 The Bootstrap Authors
         * Licensed under the Creative Commons Attribution 3.0 Unported License.
         */

        (() => {
            'use strict'

            const getStoredTheme = () => localStorage.getItem('theme')
            const setStoredTheme = theme => localStorage.setItem('theme', theme)

            const getPreferredTheme = () => {
                const storedTheme = getStoredTheme()
                if (storedTheme) {
                    return storedTheme
                }

                return 'auto'
            }

            const setTheme = theme => {
                document.documentElement.setAttribute('data-bs-stored-theme', theme)
                if (theme === 'auto') {
                    document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }
            }

            setTheme(getPreferredTheme())

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme()
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme())
                }
            })

            window.addEventListener('DOMContentLoaded', () => {
                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            setStoredTheme(theme)
                            setTheme(theme)
                        })
                    })
            })
        })()
    </script>
    {{ vite_tags|safe }}
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar lg:navbar-expand bg-3 flex-shrink-0">
    <div class="container">
        <a class="navbar-brand text-center" href="{{ url_for('v2.home') }}">DAO</a>
        <button class="btn-icon navbar-toggler" type="button" data-bs-toggle="drawer" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <dialog class="drawer drawer-end" id="navbarSupportedContent">
            <div class="drawer-body">
                <ul class="navbar-nav me-auto mb-2 lg:mb-0">
                    {{ nav_item('v2.home', 'Home') }}
                    {{ nav_item('v2.log', 'Logs') }}
                    {{ nav_item('v2.tasks', 'Tasks') }}
                    {{ nav_item('v2.reports', 'Reports') }}
                    {{ nav_item('v2.savings', 'Savings') }}
                    {{ nav_item('v2.solar', 'Solar') }}
                    {{ nav_item('v2.reportsv2', 'Reports V2') }}
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="menu"
                           aria-expanded="false">
                            Admin
                        </a>
                        <div class="menu">
                            {{ menu_item('v2.config', 'Config') }}
                            {{ menu_item('v2.secrets', 'Secrets') }}
                            {{ menu_item('v2.view_file', 'dashboard.log', url=url_for('v2.view_file', file='dashboard.log')) }}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="menu"
                           aria-expanded="false">
                            About
                        </a>
                        <div class="menu">
                            {{ menu_item('', 'Github', url='https://github.com/corneel27/day-ahead/') }}
                            {{ menu_item('', 'Wiki', url='https://github.com/corneel27/day-ahead/wiki') }}
                            {{ menu_item('v1.home', 'legacy UI') }}
                        </div>
                    </li>
                </ul>
                <div class="align-items-center d-flex float-end">
                    <a href="#" data-bs-theme-value="dark"
                       class="theme-stored-dark-hidden theme-stored-auto-hidden"
                       title="Light mode active">
                        <i class="bi bi-sun"></i>
                    </a>
                    <a href="#" data-bs-theme-value="auto" class="theme-stored-auto-hidden theme-stored-light-hidden"
                       title="Dark mode active">
                        <i class="bi bi-moon"></i>
                    </a>
                    <a href="#" data-bs-theme-value="light" class="theme-stored-dark-hidden theme-stored-light-hidden"
                       title="Auto mode active">
                        <i class="bi bi-circle-half"></i>
                    </a>
                </div>
            </div>
        </dialog>
    </div>
</nav>
<main class="container py-2 flex-grow-1 d-flex flex-column">
    <div
            id="htmx-error"
            class="alert theme-danger alert-dismissible fade show d-none"
            role="alert"
    >
        <span id="htmx-error-message"></span>

        <button
                type="button"
                class="btn-close"
                aria-label="Sluiten"
                onclick="this.parentElement.classList.add('d-none')"
        ></button>
    </div>
    {% if error %}
    <div class="alert theme-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert theme-success" role="alert">
        {{ success }}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</main>

<footer class="fg-3 py-3 flex-shrink-0">
    <div class="container text-center text-xs">
        <div class="row">
            <div class="col">&copy; 2026 <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a></div>
            <div class="col"><small>{{version}}</small></div>
        </div>
    </div>
</footer>

</body>
</html>
