{% extends "v2/base.html" %}

{% block title %}Vars - DAO{% endblock %}
{% block content %}
<h1>Vars</h1>
<form method="POST" class="flex-grow-1 d-flex flex-column">
    <table class="table table-sm table-striped table-hover">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th colspan="3" class="text-center">Chart</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Dim</th>
            <th>Enabled</th>
            <th>Label</th>
            <th>Value</th>
            <th>Forecast</th>
        </tr>
        </thead>
        <tbody>
        {% for var in vars %}
        <tr>
            <th class="pt-2">{{var.id}}</th>
            <td class="pt-2">{{var.code}}</td>
            <td class="pt-2">{{var.dim}}</td>
            <td class="pt-2"><input type="checkbox"
                       class="form-check"
                       name="var[{{var.id}}][enabled]" value="1"></td>
            <td><input type="text"
                       class="form-control"
                       name="var[{{var.id}}][name]" value="{{var.name}}"></td>
            <td>
                <input type="color" name="var[{{var.id}}][chart_value_color]" value="#FFFFFF" alpha="alpha" class="form-control-color"/>
            </td>
            <td>
                <input type="color" name="var[{{var.id}}][chart_forecast_color]" value="#FFFFFF" alpha="alpha" class="form-control-color"/>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary mt-2 col-2"><i class="bi bi-floppy"></i> Save vars</button>
</form>

<script>
codeInput.registerTemplate("syntax-highlighted", codeInput.templates.prism(Prism, []));
</script>
{% endblock %}