{% extends "v2/base.html" %}

{% block title %}Secrets - DAO{% endblock %}
{% block content %}
<h1>Secrets</h1>
<form method="POST" class="flex-grow-1 d-flex flex-column">
    <code-input language="JSON" class="line-numbers flex-grow-1" style="overflow:auto;">
        <textarea data-code-input-fallback name="secrets">{{ content }}</textarea>
    </code-input>
    <button class="btn btn-primary mt-2 col-2"><i class="bi bi-floppy"></i> Save secrets</button>
</form>

<script>
    codeInput.registerTemplate("syntax-highlighted", codeInput.templates.prism(Prism, []));
</script>
{% endblock %}