name: Create new stable release
on:
  push:
    branches:
      - main
    paths:
      - 'dao/config.yaml'


permissions:
  contents: write

jobs:
  release:
    name: Create new stable release
    runs-on: ubuntu-latest
    steps:
      # checkout the repo
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # extract version from release-stable/config.yaml
      - name: Get version number
        run: |
          VERSION=$(grep 'version: ' dao/config.yaml | sed -e 's/^version: //')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      # create a new release for $VERSION
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${VERSION}" \
              --repo="${GITHUB_REPOSITORY}" \
              --title="${VERSION}" \
              -d --generate-notes --latest=true

