name: Create new testing release
on:
  push:
    branches:
      - main
    paths:
      - 'release-testing/config.yaml'


permissions:
  contents: write

jobs:
  release:
    name: Create new testing release
    runs-on: ubuntu-latest
    steps:
      # checkout the repo
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # extract version from dao/config.yaml
      - name: Get version number
        run: |
          VERSION=$(grep 'version: ' release-testing/config.yaml | sed -e 's/^version: //')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      # create a new release for $VERSION
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${VERSION}" \
              --repo="${GITHUB_REPOSITORY}" \
              --title="${VERSION}" \
              -d -p --generate-notes --latest=false

