name: "Manual publish to GHCR and Dockerhub"

on:
  workflow_dispatch:
    inputs:
      release_tag:
        type: text
        description: provide the release tag
  
jobs:
  publish_manual_release:
    name: Publish manual release version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
      - name: Publish to Dockerhub
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target dao \
            --no-latest \
            --release-tag ${{ github.event.inputs.name }} \
            --additional-tag manual-release \
            --docker-hub ${{ secrets.DOCKERHUB_USERNAME }} \
            --generic $GITHUB_REF_NAME
      - name: Publish to GHCR
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target dao \
            --no-latest \
            --release-tag ${{ github.event.inputs.name }} \
            --additional-tag manual-release \
            --docker-hub ghcr.io/${{ github.actor }} \
            --generic $GITHUB_REF_NAME            
