name: "Publish"

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
      
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
      - name: Publish to Dockerhub
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target dao \
            --docker-hub ${{ secrets.DOCKERHUB_USERNAME }} \
            --generic $GITHUB_REF_NAME
      - name: Publish to GHCR
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target dao \
            --docker-hub ghcr.io/${{ github.actor }} \
            --generic $GITHUB_REF_NAME
            
