name: Test Builder

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test build ${{ matrix.arch }} ${{ matrix.release }} release
    strategy:
      matrix:
        # we only test build release-testing for amd64
        # this can be changed if desired
        release: [ "testing" ]
        arch: [ "amd64", "aarch64" ]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Prepare build
        run: |
          cp -a dao/* ./release-${{ matrix.release }}

      - name: Test build 
        uses: home-assistant/builder@2025.09.0
        with:
          args: |
            --test \
            --no-latest \
            --generic "test" \
            --${{ matrix.arch }} \
            --image "dao-${{ matrix.arch }}" \
            --target release-${{ matrix.release }} \
            --version "test" \
            --addon
