---
name: åˆ€ Day Ahead Optimizer (TESTING)
version: 2025.8.1.rc1
stage: experimental
slug: day_ahead_opt-testing
description: Beta version of DAO. Use only for testing!
url: https://github.com/corneel27/day-ahead/
codenotary: cees.van.beek@xs4all.nl
arch:
  - aarch64
  - amd64
init: false
ingress: true
ingress_port: 5000
panel_admin: false
panel_icon: mdi:home-battery-outline
apparmor: true
legacy: true
map:
  - ssl:rw
  - addon_config:rw
  - homeassistant_config:rw
homeassistant_api: true
ports:
  5000/tcp: 5000
image: "ghcr.io/corneel27/dao-{arch}"
